.Groups {
}

.GroupList {
  margin-top: 1rem;
}

.GroupListItem {
  margin: 1rem 0;
}

.Announcements {
  display: block;
}

.Announcements ul {
  display: inline-block;
  margin-top: 0;
  text-align: left;
}
