html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: 4rem 0;
  border-top: none;
  border-bottom: 1px dotted black;
}
